body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: sans-serif;
    background: rgb(131, 58, 180);
    background: linear-gradient(87deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%);
    color: #ffffff;
}