body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: sans-serif;
    background: rgb(131, 58, 180);
    background: linear-gradient(87deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%);
    color: #833AB4FF;
}

.list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.formList {
    display: flex;
    flex-direction: column;
    background: #222;
    padding: 40px;
    border-radius: 10px;
}

.formTitle{
    display: flex;
    justify-content: center;
    color: #ffffff;
    margin-top: 0;
}

.groupInput {
    display: flex;
    flex-direction: column;
}

.blockInput {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    padding-left: 10px;
    margin: 5px 0;
    height: 30px;
    border-radius: 20px;
    color: #ffffff;
    border: #833AB4FF 1px solid;
    background: none;
    transition: background .3s linear;
}

.input:focus {
    background: #833AB4FF;
}